
@font-face {
    font-family:'indroid' ;
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
body{
  background-color: #67ad86;
  margin: auto;
  
}
header{
   background-image: linear-gradient(#37C475,#0a4724) ;
   text-align: center;
   padding: 8px ;
   margin: 0px;
}
main{
background-color: white;
margin: 60px;
}

h1.titulo{
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    color: white;
}
h1{
  
    font-family: 'indroid';
    text-indent: 8px;
    color: #0f723a;
     padding: 10px;
     margin: 5px;
 
}

p.titulo{
    text-align: center;
    margin-top: 3px;
    color: white;
}


h2{
    background-image: linear-gradient(to right,#1fc567,white);
    font-family: 'indroid';
    text-indent: 6px;
    text-indent: 20px;
    color:#246e44;
    margin: 10px 10px 10px 25px;
   
}
p{ 
    text-indent: 20px;
    margin: 6px 10px;
    padding: 6px
}

footer{
    background-color: #0f723a;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    padding: 10px;
    margin: auto;
}
nav{
    
    text-align: left;
    
}

a{
    font-size: large;
    text-decoration: none;
    margin: 10px;
    color: white;
}
a:hover{
    text-decoration: none;
    color: white;
    background-color: #0f723a;
    margin: 6px;
    padding: 6px;
    border-radius: 2px;
}
.links-ext{
    background-color: #1fc567;
  }
.video{
    background-color: #0f723a;
    margin: 6px;
    padding: 6px;
    border: 6px;
    text-align: center;
}
aside{
    background-color: #3edd83;
     margin: 10px;
     border: 10px 10px;
}
h3{
   background-color: #0a4724;
   color: white;
}